/* Style for the tab buttons */
.tab-btns {
    display: flex;
}

.tab-btn {
    cursor: pointer;
    background-color: var(--color-background-weak);
    color: var(--color-text-weak);
    border-radius: 5px 5px 0 0;
}

.tab-btn.active {
    color: var(--color-text-active);
    background-color: var(--color-card-background);
    position: relative;
    /* To position the indicator relative to the tab button */
}

/* Style for the active indicator */
.tab-btn.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 2px;
    /* Adjust the height of the indicator as per your preference */
    background-color: var(--color-text-active);
    /* Choose the color you want for the indicator */
    border-radius: 5px 5px 0 0;
    /* To match the rounded corners of the tab button */
}


/* Style for the tab content */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}



.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-register-box {
    position: relative;
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin: 10px;
}

.login-register-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-register-box .user-box {
    position: relative;
}

.login-register-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-register-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-register-box .user-box input:focus~label,
.login-register-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-register-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-register-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.login-register-box a span {
    position: absolute;
    display: block;
}

.login-register-button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.login-register-button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
}

.login-register-button:active {
    transform: translateY(-7px);
}